.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 5%;
}

h1 {
  display: inline;
}

.p {
  color: rgb(146, 146, 146);
}

.blog {
  position: relative;
}

.card {
  padding: 5% 0;
}

.img {
  position: relative;
}

.add {
  margin-left: 300px;
}

.delete {
  position: absolute;
  top: 85%;
  right: 5%;

  background-color: white !important;
  color: red !important;
  width: 20%;
  height: 10%;
}

.delete b {
  font-size: 2vw;
}
